

.title {
    text-align: center;
    padding: 10px;
    margin: auto;
}

.btn-info {
    border-color: none;
}

.col{
    margin: auto;

}

.footer-container {
    padding-bottom: 25px;
}

.primary-color {
    background-color: #1C2331;
}

.btn-secondary {
    background-color: #311b92;

}