
.entire-deck {
    margin:  20px 40px;
    padding: 20px;

}


.first-row {
    padding: 20px 70px;
    margin: 50px;
}

.second-row {
    padding: 20px 70px;
    margin: 50px; 

}

 
.jumbotronDiv {
    box-shadow: none;
    background-color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    margin-top: 80px;
    padding-top: 20px;
}


.deck-picture {
    margin: auto;
    display: flex;
}

/* 
@media (max-width: 767px) {
    .entire-deck {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .entire-deck {
        width: 50%;
    }
    .entire-deck {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .deck-picture {
        width: 33%;
    }
} */
