.parent-container {
    display: flex;
    flex-flow: wrap;
    
}

.signup-form{
    padding: 80px;
    margin-top: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

.btn-default {
    margin: 0 auto;

}

.signup-submit {
    display: flex;
    margin: 0 auto;
}