.parent-container {
    display: flex;
    flex-flow: wrap;
    
}

.signup-form{
    padding: 80px;
    margin-top: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.btn-default {
    margin: 0 auto;

}

.signup-submit {
    display: flex;
    margin: 0 auto;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .signup-form {
        width: 50%;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .signup-form {
        width: 50%;
    }
}