.login-form {
    padding: 80px;
    padding: 80px;
    /* margin-top: 30px; */
    width: 50%;
    margin: auto;
}   

.jumbotron {
    box-shadow: none;
    background-color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;

}

.login {
    margin: 50px;
}

.form-control {
    margin: auto;

}

.p {
    text-align: center;
}

.submit-button {
    display: flex;
    margin: 0 auto;
}

.btn-default {
    margin: 0 auto;

}


[class*="col-"] {
    width: 100%;
}