.login-form {
    padding: 70px;
    margin-top: 60px;
    justify-content: center;
    height: 100vh;
    margin-bottom: 30px;
}   

.jumbotron {
    box-shadow: none;
    background-color: white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;

}

.login {
    margin: 50px;
}

.form-control {
    width: 50%;
    margin: auto;

}

.p {
    text-align: center;
}

.submit-button {
    display: flex;
    margin: 0 auto;
}

.btn-default {
    margin: 0 auto;

}