

#select{
    width:40%;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

#resultItem {
    margin-top: 15px;
}

.results {
    padding: 30px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

h4 {
    padding: 10px;    
}

.my-4{
    padding: 10px;
}

