#searchHolder {
    margin-left:25%;
    width:50%;
    margin-right:25%
}

#select{
    width:40%;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}

#resultItem {
    margin-top: 15px;
}

.results {
    height: 100vh;
    padding: 70px;
    margin: 50px 20px;
}