.profile-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 80px;

}

#itemModal {
    margin-top: 100px;
}

.display-4 {
    text-align: center;
}

.add-button {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
}

.empty-table-notification {
    text-align: center;
}

th {
    font-weight: bold;
}