.view {
    /* background: url("https://mdbootstrap.com/img/Photos/Others/img(40).jpg)") no-repeat center center; */
    height: 100vh !important;
    /* background-size: cover; */
}

#searchHolder {
    margin-left:25%;
    width:50%;
    margin-right:25%
}

.container-fluid-middle {
    height: 40vh; 
    background-color:#1a237e ;
    padding: 50px 30px;
}

.center-first {
    padding: 50px 30px;;
}

.color-row {
    color: white;
    padding: 30px 20px;
    vertical-align: middle;
    text-align: center;
}

.bold-content {
    font-weight: bolder;
}


.instructions-row {
    padding: 20px;
}

.col-10{
    text-align: left;
}

.vendor-title {
padding-top: 50px;
margin-top: 20px;
text-align: center;
}

.instructions{
padding: 40px;
}

.btn {
    border-radius: none;
}

.extra-space {
    padding-bottom: 10px;
}
