.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img(40).jpg)") no-repeat center center;
    height: 100vh !important;
    background-size: cover;
}

#searchHolder {
    margin-left:25%;
    width:50%;
    margin-right:25%
}