.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img(40).jpg)") no-repeat center center;
    height: 100vh !important;
    background-size: cover;
}

#searchHolder {
    margin-left:25%;
    width:50%;
    margin-right:25%
}

.container-fluid-middle {
    height: 40vh; 
    background-color:#1a237e ;
    padding: 20px;
}

.center-first {
    padding: 50px 30px;;
}

.color-row {
    color: white;
    padding: 30px 20px;
    vertical-align: middle;
}

.bold-content {
    font-weight: bolder;
}



